@font-face {
  font-family: "open-sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "open-sans";
  margin: 0;
  padding: 0;
  border: 0;
}
 
.header, .footer {
  background-image: url(../images/football_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #bc4f30;
  background-position: center;
  
  position: relative;    
  min-height: 100vh;
}

.header::after,
.footer::after{
  content: "";
  position: absolute;
  background-color: #090c35;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.container,
.button_store,
.logo_footer,
.footer_text,
.footer_logo {
  position: relative;
  z-index: 1;
  fill: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  /* width: 100%; */
  max-width: 1920px;
  min-height: 100vh;
  padding-top: 5vh;
  padding-bottom: 11.45vh;

  margin: 0 auto;
}

.header_logo,
.footer_logo {
  width: 191px; 
  
  margin: 0 auto;
}

.container_title {

  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 13%;
  margin-left: 180px;
  margin-right: 180px;
  padding-left: 11px;
  padding-right: 15px;
}

.top_text,
.button_text,
.app_store {
  display: block;

  font-size: 90px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
}

.top_text:nth-child(2) {
  line-height: 1.23;
  padding-left: 29%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 674px;
  justify-content: space-between;

  margin: 0 auto;
}

.button_store {
  width: 312px;
  height: 80px;
  text-decoration: none;
  background-color: #5e42b0;
  border-radius: 50px 50px;
  padding: 0;
  border: 0;
}

.button_store:hover {
  background-color: #5535b1;
  cursor: pointer;
}

.apple_icon,
.google_icon {
  position: absolute;
  width: 50px;
  top: calc(50% - 25px);
  left: 38px;
}

.google_icon {
  left: 56px;
}

.button_text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.23;
  margin-top: 24px;
  margin-left: 105px;
}

.app_store {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.23;
  padding-left: 0;
}

.google {
  margin-left: 20px;
}

/* -------------------------main---------------------------- */
.body_page {
  width: 100%;
}

.block_athlets, .block_players {
  background-color: #ffffff;
  position: relative;
}

.block_athlets::after{
  content: url(../images/footballer_566.png);
  position: absolute;
  top: 27px; 
  left: 20%;
}

.heading_block, .headline {
  font-size: 80px;
  line-height: 0.75;
  color: #e7e7e7;
  text-transform: uppercase;
  text-align: start;
  padding-top: 115px;
  padding-left: calc(50% + 48px - 192px);
  padding-bottom: 48px;

  margin: 0 ;
}

.content-section {
  padding-left: calc(50% + 48px);
  padding-right: 10.46%;
  padding-top: 60px;
  padding-bottom: 59px;
}

.title_block {
  display: flex;
  flex-wrap: wrap;
}

.heading_block, .paragraph /*, .sections 
.section-image, .number_section, .section*/ {
max-width: 1920px;
margin: 0 180px; 
}

.number,
.number_section {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.11;
  margin-right: 14px;
   
  position: relative;
}

.number::after,
.number_section::after {
  content: "";
  position: absolute;
  background-color: #5e42b0;
  width: 19px;
  height: 5px;
  top: 21px;
  left: 0px;
  border-radius: 1px 1px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  color: #c1c1c1;
  text-transform: uppercase;
  padding-bottom: 29px;
  margin: 0;
}

.paragraph {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #000000;
  text-align: start;
  margin: 0;
  margin-bottom: 30px;
}

.background-dark .number::after,
.background-dark-player .number::after {
  background-color: #ffffff;
}

.background-medium {
  background-color: #f5f4f9;
}

.background-dark {
  background-color: #5e42b0;
}

.background-dark > .paragraph,
.background-dark-player > .paragraph {
  color: #ffffff;
}

.block_players::after{
  content: url(../images/basketballer_991.png);
  position: absolute;
  overflow: hidden;
  top: 28px;
  right: 6.5%;
}

.block_players > .heading_block {
  padding-left: 0;
}

.block_players .content-section {
  padding: 3.125% 50% 3.125% 192px;
}

.background-medium-player {
  padding-bottom: 87px;
  background-color: #f5f4f9;
}

.background-dark-player {
  background-color: #090c35;
}

.background-dark-player .number  {
  color: #5e42b0;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  min-height: 730px;
}

.sections:nth-child(even) {
  flex-direction: row-reverse;
}

.section-image {
  width: 50%;
  min-height: 100%;
}

.image {
  width: calc(100% - 180px);
  height: 100%;
  background-color: #de5f53;
  background-position: center;
  background-size: cover;
  margin-left: 180px;
  margin-right: 0;

}

.sections:nth-child(even) .image {
  margin-left: 0;
  margin-right: 180px; 
}

.number_section {
  width: 168px;
  height: 168px;
  background-color: #5e42b0;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 7;
  color: #ffffff;
  text-align: center;
  margin-left: -84px;
  margin-top: 211px;
  margin-right: 0;
}

.number_section::after {
  background-color: #8f7bc8;
  width: 28px;
  left: calc(50% - 14px);
  top: calc(50% + 13px);
}

.sections:nth-child(2) .number_section {
  margin-right: -84px;
  margin-left: 0;
}

.section {
  width: calc(50% - 85px);
  padding-left: 33px;
  padding-right: 182px;
  padding-top: 15em; 
  padding-bottom: 2em;
}

.sections:nth-child(2) .section
 {
  padding-left: 192px;
  padding-right: 33px;
}

.headline {
  font-weight: 700;
  line-height: 1.125;
  color: #c1c1c1;
  padding: 0;
  padding-bottom: 1.5em;
  margin: 0;
}

 .section > .paragraph {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1.17;
}

/* --------------------footer-------------------------------- */
.footer {
  background-image: url(../images/game_1920.jpg);
}

.footer .container {
  padding: 23vh 9% 3.149vh 9%;
}

.footer_container {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.logo_footer {
  width: 137px;
  height: 137px;
  padding: 24px 12px 23px 12px;
  background-color: #6a4cc3;
  border-radius: 26px 26px;
  margin-right: 36px;
}

.download_text {
  display: block;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 0.75;
  color: #ffffff;
  text-transform: uppercase;
}

.download_text:nth-child(2) {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: #9b8ec1;
  padding-top: 21px;
}

.footer_bottom {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
}

.footer .buttons {
margin-bottom: 10vh;
}

.footer_logo {
  height: 52px;
} 

@media (min-width: 1560px) and (max-width: 1920px) {
  .block_athlets::after{
    left: 10%;
  }

  .block_players::after{
    top: 0;
    right: 0;
    left: 34%;
  }

  .number_section {
    width: 145px;
    height: 145px;
    font-size: 21px;
  } 
  .headline {
    font-size: 63px;
    padding-bottom: 1.2em;
  }

  .image {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  } 
}

@media (min-width: 1280px) and (max-width: 1559px) {
  .footer .container {
    padding-top: 21.8vh;
    padding-bottom: 5.2vh;
  }  

  .container_title {
    margin-top: 13%;
    margin-bottom: 9%; 
    margin-left: 112px;
    margin-right: 112px;
  }

  .top_text {
    font-size: 70px;
    letter-spacing: 5px;
    line-height: 1;
  }
  .top_text:nth-child(2) {
    line-height: 1.3;
    padding-left: 39%;
  }

  .block_athlets::after{
    left: 4%;
  }

  .block_players .content-section {
    padding: 3.125% 50% 3.125% 112px;
  }

  .block_players::after{
    top: 0;
    right: 0;
    left: 38%;
  }

  .heading_block {
    margin: 0 112px; 
    padding-left: calc(50% + 48px - 112px);
  }
  .sections:nth-child(even) .image {
    margin: 0;
  }

  .sections:nth-child(2) .section
  {
   padding-left: 112px;
 }

  .section {
    padding-top: 16em;  
  }

  .image {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  } 

  .headline {
    font-size: 54px;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {

  .footer .container {
    padding-top: 21.8vh;
    padding-bottom: 5.2vh;
  }  

  .container_title {
    margin-top: 13%;
    margin-bottom: 9%; 
  }

  .top_text {
    font-size: 70px;
    letter-spacing: 5px;
    line-height: 1;
}
  .top_text:nth-child(2) {
    line-height: 1.3;
}

  .block_athlets::after{ 
    left: -20%;
  }

  .content-section, .heading_block {
    padding-left: 35%;
    padding-right: 33px;
    margin: 0;
  }

  .block_players::after{
    top: 0;
    right: 0;
    left: 38%;
  }

  .block_players > .heading_block {
    padding-left: 4.3%;
  }

  .block_players .content-section {
    padding: 32px 46% 36px 4.3%; 
  }
  
  .sections {
    display: block;
    height: 100%;
  }

  .sections:nth-child(even) .image {
    margin: 0;
  }

  .number_section {
    width: 116px;
    height: 116px;
    font-size: 24px;
    line-height: 4.83;
    margin-left: 33px;
    margin-top: -80px;
  }
 
  .sections:nth-child(2) .number_section {
    margin-right: 0;
    margin-left: 33px;
  }

  .section, .sections:nth-child(2) .section {
    width: calc(100% - 33px - 33px);

    margin-left: 33px;
    margin-right: 33px;
    margin-bottom: 87px;
    padding: 0;
  }

  .headline {
    padding-left: 0;
    padding-bottom: 38px;
    font-size: 61px;
    padding-top: 50px;  
  }
    
  .section > .paragraph {
    font-size: 24px;
    letter-spacing: 1px;
  }

  .section-image {
    width: 100%;
    min-height: 100%;
  }

  .image {
    width: 100%;
    margin: 0;
  }

  .number_section {
    margin-top: -84px;
  }

  .section {
    padding-left: 4.3%;
  }

  /* --------------------footer-------------------------------- */
  .footer_container {
    display: block;
    text-align: center; 
  }

  .logo_footer {
    margin-bottom: 78px;
  }

}

@media (min-width: 641px) and (max-width: 959px) {

  .header {
    background-image: url(../images/football_1280.jpg);
  }

  .container {
    padding-left: 53px;
    padding-right: 53px;
  }

  .header_logo,
  .footer_logo {
    width: 205px; 
  }

  .container_title
  .top_text {
    font-size: 64px;
    letter-spacing: 3px;
  }
    
  .container_title {
    margin: 0;
  }
  
  .top_text:nth-child(2) {
    padding-left: 105px;
  }
  
  .buttons {
    width: 652px;
  }
 
  .button_store {
    width: 310px;
    height: 77px;
  }

  /* -------------------------main---------------------------- */
   .block_athlets::after{
    content: url(../images/footballer_497.png);

    top: 115px; 
    left: -20%;
  }
   
  .heading_block, .headline {
    padding-top: 85px;
    padding-left: 38%;
    padding-bottom: 20px;

    margin: 0;
  }
  
  .content-section {
    padding-left: 38%;
    padding-right: 35px;
    padding-top: 42px;
    padding-bottom: 32px;
  }

  .title {
    font-size: 32px;
  }
  
  .paragraph {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.75;
  }
  
  .block_players::after{
    content: url(../images/basketballer_436.png);

    top: 35px;
    right: 0;
  }
  
  .block_players > .heading_block {
    padding-left: 4.3%;
    
  }
  
  .block_players .content-section {
    padding: 32px 46% 36px 4.3%;
    
  }

  .block_sections {
    max-width: 786px;
  }

  .sections {
    display: block;
    height: 100%;
  }

  .image {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .sections:nth-child(even) .image {
    margin: 0;
  }

  .number_section {
    width: 116px;
    height: 116px;
    font-size: 24px;
    line-height: 4.83;
    margin-left: 33px;
    margin-top: -80px;
  }
 
  .sections:nth-child(2) .number_section {
    margin-right: 0;
    margin-left: 33px;
  }

  .section, .sections:nth-child(2) .section {
    width: calc(100% - 33px - 33px);

    margin-left: 33px;
    margin-right: 33px;
    margin-bottom: 87px;
    padding: 0;
  }

  .headline {
    font-size: 80px;
    padding-left: 0;
    padding-top: 55px;
    padding-bottom: 38px;
  }
    
  .section > .paragraph {
    font-size: 24px;
    letter-spacing: 1px;
  }
  
  /* --------------------footer-------------------------------- */
  .footer {
    background-image: url(../images/game_1280.jpg);
  }

  .footer .container {
    padding:  12vh 27px 23px;
  }

  .footer_container {
    display: block;
    text-align: center;
    margin: 0;
    margin-bottom: 5vh;
  }
  
  .logo_footer {
    width: 130px;
    height: 130px;

    margin: 0 auto;
  }

  .footer_text {
    margin-top: 8.6vh;
    /* margin-bottom: 287px; */
  }
  
  .download_text {
    font-size: 80px;
    letter-spacing: 3px;
  }
  
  .download_text:nth-child(2) {
    font-size: 36px;
    letter-spacing: 0;
    padding-top: 25px;
  }
  
  .footer .buttons {
    margin-bottom: 55px;
  }
  
  .footer_logo {
    height: 56px;
  } 
}

@media (max-width: 640px) {

  .header {
    background-image: url(../images/football_767.jpg);
    background-size: auto 110%;
  }

  .container {
    height: 100vh;
    /* width: 87.5%; */
    padding: 6vh 20px 15vh;

  }

  .header_logo,
  .footer_logo {
    width: 41.5%; 
  }
  
  .container_title {
    margin: 0;
  }
  .top_text {
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 2.43;
  
  }
  
  .top_text:nth-child(2) {
    line-height: 1.1;
    padding-left: 15.7%;
  }
  
  .buttons {
    width: 100%;
  }
  
  .button_store {
    width: 100%;
    height: 11vw;
  }
  
  .button_store:nth-child(2) {
    margin-top: 2.5vh;
  }
  
  .apple_icon, .google_icon {
    width: 7.8%;
    height: 68%;
    top: 13%;
    left: 28%;
  }

  .button_text, .app_store {
    font-size: 2.5vw;
    letter-spacing: 0px;
    line-height: 1.12;

    margin-top: 3%;
    margin-left: 39%;
  }
  
  .app_store {
    font-weight: 700;
    padding-left: 0;
    margin: 0;
  }
  
  .google {
    margin-left: 0;
  }
 
  /* -------------------------main---------------------------- */
   .block_athlets::after{
    content: url(../images/footballer_192.png);

    top: 95px; 
    left: 22%;
  }
   
  .heading_block, .headline {
    font-size: 50px;
    line-height: 1.2;
    padding-left: 6.25%;
    padding-top: 25px;
    padding-bottom: 245px;
    margin: 0;
  }

  .block_players > .content-section  {
    padding-left: 6.25%;
    padding-right: 10.939%;
    padding-top: 58px;
    padding-bottom: 27px;
  }

  .block_players > .heading_block {
    padding-left: 6.25%;
  }
  
  .background-light {
    padding-top: 82px; 
  }

  
  .number,
  .number_section {
    font-size: 14px;
  }

  .number::after,
  .number_section::after {
    width: 16px;
    height: 4px;
    top: 16px;
  }

  .title {
    font-size: 23px;
    letter-spacing: 1px;
  }
  
  .paragraph {
    font-size: 15px;
    letter-spacing: 1px;
  }
  
  .block_players::after{
    content: url(../images/basketballer_302.png);

    top: 79px;
    right: 8px;
  }
  
  .content-section {
    padding-left: 6.25%;
    padding-right: 6.25%;
  }
  
  .background-medium-player, .background-dark-player {
    padding-top: 55px;
    padding-bottom: 37px;
  }

  .block_sections {
    min-width: 320px;
  }

  .sections {
    display: block;
    height: 100%;
    min-height: 563px;
  }

  .image {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .sections:nth-child(even) .image {
    margin: 0;
  }
  
  .number_section {
    width: 70px;
    height: 70px;

    line-height: 5;
    margin-left: 6.25%;
    margin-top: -58px;
  }
  
  .number_section::after {
    width: 17px;
    left: calc(50% - 8px);
    top: calc(50% + 7px);
  }

  .sections:nth-child(2) .number_section {
    margin-right: 0;
    margin-left: 6.25%;
  }

  .section, .sections:nth-child(2) .section  {
    width: calc(100% - 6.25% - 6.25%);
    margin-right: 6.25%;
    margin-left: 6.25%;
    margin-bottom: 80px;
    padding: 0;
  }

  .headline {
    font-size: 28px;
    letter-spacing: 1px;
    padding: 25px 0;
  }
  
  .section > .paragraph {
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  /* --------------------footer-------------------------------- */
  .footer {
    background-image: url(../images/game_767.jpg);
    height: 100vh;
    background-position: right;
  }
  
  .footer .container {
    padding: 17.5vh 6.25% 1.8vh;
    flex-wrap: nowrap;
  }

  .footer_container {
    display: block;
  }
  
  .logo_footer {
    display: block;
    width: 74px;
    height: 74px;
    border-radius: 16px 16px;
    padding: 12px 6px;

    margin: 0 auto;
  }
  
  .download_text {
    font-size: 2em;
    letter-spacing: 1px;
    padding-top: 59px;
    text-align: center;
  }
  
  .download_text:nth-child(2) {
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 13px;
  }
  
  .footer .buttons {
    margin-bottom: 14.5%;
  }
  
  .footer_logo {
    height: 36px;
    padding: 0;
    margin: 0 auto;
  } 
}